.ed-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  & svg {
    max-height: 90%;
  }

  & .ed-btn-tobottom {
    user-select: none;
    position: absolute;
    cursor: pointer;
    background: rgb(243, 243, 243);
    border: 1px solid #9c9b9b;
    display: block;
    bottom: 12px;
    right: 30px;
    padding: 4px 8px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      background-image: url(line-awesome/svg/arrow-down-solid.svg);
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  & .ed-toolbar {
    user-select: none;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 32px;
    background: rgb(243, 243, 243);
    border-bottom: 2px solid #d1d1d1;
    padding: 0 4px;

    & a {
      cursor: pointer;
    }

    & .ed-toolbar-space {
      flex: 1;
    }

    & .ed-toolbar-separator {
      width: 1px;
      height: 14px;
      background: #a4a4a4;
      align-self: center;
      margin: 0 4px;
    }

    & .ed-toolbar-input {
      & input {
        font-size: 12px;
      }
    }

    & .ed-toolbar-text,
    & .ed-toolbar-input {
      align-self: center;
      margin: 0 8px;
    }

    & .ed-btn {
      width: 32px;
      height: 100%;
      padding: 4px;
      display: flex;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        fill: #383838;
      }

      &:hover {
        background-color: #e6e5e5;
      }
    }

    & .ed-tab-header {
      border-bottom: 2px solid transparent;
      vertical-align: middle;
      line-height: 32px;
      padding: 0 10px;
      margin-bottom: -1px;

      &.ed-tab-header--selected {
        border-bottom: 2px solid rgba(62, 130, 247, 0.6);
      }

      &:hover {
        background-color: #e6e5e5;
      }
    }

    & .ed-btn-enabled {
    }

    & .ed-btn-disabled {
      & svg {
        fill: #f44336;
      }
    }
  }

  & .ed-body,
  & .ed-logs {
    flex: 1;
    height: 100%;
  }

  & .ed-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    & .ed-table-header {
      display: flex;

      & > div {
        flex: 1;
        border: 1px solid #d1d1d1;
        border-top: none;
        padding: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;

        &:nth-child(1) {
          flex: none;
          width: 40px;
        }
        &:nth-child(2) {
          flex: none;
          width: 140px;
        }
      }
    }

    & .ed-table-body {
      flex: 1;

      & .ed-list-item {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        cursor: pointer;

        &.ed-list-item--odd {
          background-color: #f5f5f5;
        }
        &:hover {
          background-color: #e6e5e5;
        }
        &.ed-list-item--selected {
          background-color: #ddefff;
        }

        & .ed-list-item-icons {
          display: flex;
          justify-content: center;
        }

        & .op-icon {
          background-repeat: no-repeat;
          background-size: 80% 80%;
          background-position: center;
          /* height: 100%; */
          width: 24px;

          &.op-icon-second {
            background-repeat: no-repeat;
            background-size: 80% 80%;
            background-position: center;
            width: 14px;
            margin-left: -4px;
          }
        }
        & .op-icon-unit-create {
          background-image: url(line-awesome/svg/plus-solid.svg);
        }
        & .op-icon-unit-watch {
          background-image: url(line-awesome/svg/eye-solid.svg);
        }
        & .op-icon-event {
          background-image: url(line-awesome/svg/calendar.svg);
        }
        & .op-icon-store {
          background-image: url(line-awesome/svg/sticky-note-solid.svg);
        }
        & .op-icon-effect {
          background-image: url(line-awesome/svg/bolt-solid.svg);
        }

        & > div {
          box-sizing: border-box;
          flex: 1;
          border: 1px solid transparent;
          border-right: 1px solid #d1d1d1;
          padding: 0 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:nth-child(1) {
            flex: none;
            width: 40px;
          }
          &:nth-child(2) {
            flex: none;
            width: 140px;
          }
        }
      }
    }
  }

  & .ed-details {
    position: absolute;
    height: 100%;
    background: white;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;

    box-shadow: -1px 0 1px hsl(0deg 0% 0% / 0.055),
      -2px 0 2px hsl(0deg 0% 0% / 0.055), -4px 0 4px hsl(0deg 0% 0% / 0.055),
      -8px 0 8px hsl(0deg 0% 0% / 0.055);

    & .ed-details-body {
      min-height: 0;
      flex: 1;

      & > div {
        max-height: 100%;
        overflow: auto;
        height: 100%;
      }

      & .ed-details-body-code {
        & pre {
          padding: 14px !important;
          margin: 0px;
        }

        &.ed-details-body-code-raw pre code {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
